.container{
    height: 300px;
    width: 400px;
    background-color: white;
    margin: 200px auto;
    padding-top: 20px;
    padding-left: 50px;  
 }
 body{
    background-color: skyblue;
 }
 h2{
     color: rgb(102, 172, 200);
     font-weight: bolder;
 }
 input{
     padding: 5px;
     margin: 5px;
     width: 250px;
 }
 .btn{
     text-align: center;
     background-color: rgb(102, 202, 241);
     border: rgb(102, 202, 241);
     color: white;
     width: 265px;
 }